@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --not-quite-black: rgb(49, 52, 61);
    --light-blue: rgb(145, 204, 205);
    --dark-blue: rgb(68, 88, 117);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Cabin', sans-serif;
    background: rgb(237, 237, 246);
}

.flex-container {
    display: flex;
}



/* Start Header Style */

header {
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--not-quite-black);
    width: 100%;
    padding: 10px 60px 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    background-color: var(--light-blue);
    padding: 0 0 0 60px;
}

.logo h1 {
    color: var(--not-quite-black);
    text-align: right;
    font-size: 39px;
    font-weight: lighter;
    margin-right: 14px;
    line-height: 1.5;
}

header nav {
    margin: 16px 0 0 60px;
}



header nav ul, #contact-me ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    color: var(--light-blue);
    border-bottom: 4px solid var(--light-blue);
}

header nav ul li a, #contact-me ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 2px 8px;
    margin: 0 10px;
}

/* End Header Style */

/* Start Hero Style */

.hero {
    position: relative;
    height: 197px;
    background: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
}

.hero div {
    position: absolute;
    background: var(--light-blue);
    bottom: 23px;
    right: 79px;
}

.hero div h3 {
    text-align: right;
    color: var(--not-quite-black);
    font-weight: normal;
    font-size: 25px;
    margin: 6px 14px;
}

/* End Hero Style */

/* Start Section Style */

.content-section {
    color: var(--dark-blue);
    justify-content: flex-start;
    margin: 29px 4%;
}

.section-title {
    border-right: 4px solid var(--dark-blue);
    padding-right: 16px;
    margin-right: 37px;
    width: 170px
}

.section-title h2 {
    font-size: 39px;
    text-align: right;
}

article {
    flex: 1 85%;
}

article p {
    margin: 10px 0 15px 0;
}

/* End Section Styles */

/* Start Work Style */

#work article{
    flex-wrap: wrap;
    align-content: space-between;
}

.work-card {
    position: relative;
    border: 4px solid var(--light-blue);
    height: 160px;
    margin: 6px;
    flex: 1 50%;
    overflow: hidden;

}

.work-card img {
    width: 100%;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.work-card img:hover {
    opacity: 1;
}

.big-card {
    height: 390px;
    flex: 0 100%;
}

.work-card div {
    position: absolute;
    bottom: 20px;
    background: var(--light-blue);
    padding: 16px 10px 13px 10px;
}

.work-card div h3 {
    margin: 0 0 10px 0;
    font-size: 19px;
}

.work-card div p {
    margin: 0;
    font-size: 11px;
}

/* End Work Style */

/* Start Contact Style */

#contact-me article ul {
    margin-top: 30px;
    justify-content: space-evenly;
}

#contact-me article ul li a {
    color: var(--dark-blue);
    border-bottom: 4px solid var(--dark-blue);
    line-height: 2;
}

/* End Contact Style */


/* Media Queries */

@media only screen and (max-width: 900px) {

    .section-title {
        width: 80%;
        margin: auto;
        border-right: none;
        border-bottom: 4px solid var(--dark-blue);
    }

    .section-title h2 {
        text-align: center;
    }
    
    .flex-container:not(header) {
        display: block;
    }

    .big-card {
        height: 160px;
    }

}

@media only screen and (max-width: 805px) {

    header {
        position: relative;
        padding: 0;
    }

    .logo {
        padding: 0;
        width: 100%;
    }

    .logo h1 {
        margin: auto;
        text-align: center;
    }

    header nav {
        margin: 20px auto;
    }

}

@media only screen and (max-width: 415px) {
    header nav ul, #contact-me ul {
        display: block;
        text-align: center;
        font-size: 40px;
    }

    header nav {
        margin-bottom: 40px;
    }
}
